<main>
  <div id="profile-upper">
    <div id="profile-banner-image">
      <img *ngIf="demoCode==0" src="../../../assets/images/cover_picture.jpg" alt="Banner image">
      <img *ngIf="demoCode==1" src="../../../assets/images/no_image.png" alt="Banner image">
    </div>
    <div id="profile-d">
      <div id="profile-pic">
        <img src="{{this.loginInfoPerson?.profilePicture}}">
      </div>
      <div id="u-name">{{this.loginInfoPerson?.name}}</div>
      <div class="tb" id="m-btns">
        <div class="td">
          <div class="m-btn"><i class="material-icons">format_list_bulleted</i><span>Activity log</span></div>
        </div>
        <div class="td">
          <div class="m-btn"><i class="material-icons">lock</i><span>Privacy</span></div>
        </div>
      </div>
      <div id="edit-profile"><i class="material-icons">camera_alt</i></div>
    </div>
    <div id="black-grd"></div>
  </div>
  <div id="main-content">
    <div class="tb">
      <div class="td" id="l-col">
        <div class="l-cnt">
          <div class="cnt-label">
            <i class="l-i" id="l-i-i"></i>
            <span>Intro</span>
            <div class="lb-action"><i class="material-icons">edit</i></div>
          </div>
          <div id="i-box">
            <div id="intro-line"><b>University: </b> Khulna University of Engineering & Technology,Khulna</div>
            <div id="u-occ"><b>Department:</b> Computer Science & Engineering</div>
            <div id="u-loc"><i class="material-icons">location_on</i><a href="#">Khulna</a>, <a href="#">Bangladesh</a>
            </div>
          </div>
        </div>


      </div>

      <div class="td" id="m-col">
        <div class="m-mrg" id="p-tabs">
          <div class="tb">
            <div class="td">
              <div class="tb" id="p-tabs-m">
                <div class="td active" (click)="showTimeline()"><i
                    class="material-icons">av_timer</i><span>TIMELINE</span></div>
                <div class="td" (click)="showFriendList()"><i class="material-icons">people</i><span>FRIENDS</span>
                </div>
                <div class="td"><i class="material-icons">photo</i><span>PHOTOS</span></div>
                <div class="td"><i class="material-icons">explore</i><span>ABOUT</span></div>
                <div class="td"><i class="material-icons">archive</i><span>ARCHIVE</span></div>
              </div>
            </div>
            <div class="td" id="p-tab-m"><i class="material-icons">keyboard_arrow_down</i></div>
          </div>
        </div>

        <div *ngIf="this.button==1">
          <!-- message Sender-->
          <div class="messageSender">
            <div class="messageSender__top">
              <img class="user__avatar" src="{{this.loginInfoPerson?.profilePicture}}" alt="" />
              <form>
                <input class="messageSender__input" placeholder="What's on your mind?" type="text" />
                <button
                  style="background-color: turquoise; border: none; border-radius: 10px; color: #333; /* Dark grey */ padding: 15px 32px; cursor: pointer;">Post</button>
              </form>
            </div>

            <div class="messageSender__bottom">
              <div class="messageSender__option">
                <span style="color: red" class="material-icons"> videocam </span>
                <h3>Live</h3>
              </div>

              <div class="messageSender__option">
                <input type="file" #imageInput accept="image/*" id="imageUpload">
                <label for="imageUpload" style="color: green" class="material-icons">photo_library</label>
                <h3>Photo</h3>
              </div>

              <div class="messageSender__option">
                <span style="color: orange" class="material-icons"> insert_emoticon </span>
                <h3>Feeling</h3>
              </div>
            </div>
          </div>
          <!-- message sender ends -->

          <div *ngFor="let post of postInfoOfUser">
            <div *ngIf="post.postImage!='string';else other_content">
              <!-- post starts -->
              <div class="post">
                <div class="post__top">
                  <img class="user__avatar post__avatar" src="{{post.postPersionProfilePicture}}" alt="" />
                  <div class="post__topInfo">
                    <h3>{{post.name}}</h3>
                    <p style="width: 100px;">{{post.createdDate | date:'dd-MM-yyyy'}}</p>
                  </div>
                  <div *ngIf="true">
                    <button
                      style="background-color: red; margin-left: 480px; border: none; border-radius: 10px; color: #333; /* Dark grey */ padding: 15px 20px; cursor: pointer;">Delete</button>
                  </div>
                </div>

                <div class="post__bottom">
                  <p>{{post.postMessage}}</p>
                </div>

                <div class="post__image">
                  <img src="{{post.postImage}}" alt="" />
                </div>

                <div class="likesNumber">
                  <p>{{post.like}} person likes</p>
                </div>

                <div class="post__options">
                  <div class="post__option">
                    <span class="material-icons"> thumb_up </span>
                    <p>Like</p>
                  </div>

                  <div class="post__option">
                    <span class="material-icons"> chat_bubble_outline </span>
                    <p>Comment</p>
                  </div>

                  <div class="post__option">
                    <span class="material-icons"> near_me </span>
                    <p>Share</p>
                  </div>
                </div>
              </div>
              <!-- post ends -->

            </div>

            <ng-template #other_content>
              <!-- post starts -->
              <div class="newChange">
                <div class="post">
                  <div class="post__top">
                    <img class="user__avatar post__avatar" src="{{post.postPersionProfilePicture}}" alt="" />
                    <div class="post__topInfo">
                      <h3>{{post.name}}</h3>
                      <p>{{post.createdDate | date:'dd-MM-yyyy'}}</p>
                    </div>
                    <div *ngIf="true">
                      <button
                        style="background-color: red; margin-left: 480px; border: none; border-radius: 10px; color: #333; /* Dark grey */ padding: 15px 20px; cursor: pointer;">Delete</button>
                    </div>
                  </div>

                  <div class="post__bottom">
                    <p>{{post.postMessage}}</p>
                  </div>

                  <div class="likesNumber">
                    <p> {{post.like}} person like</p>
                  </div>

                  <div class="post__options">
                    <div class="post__option">
                      <span class="material-icons"> thumb_up </span>
                      <p>Like</p>
                    </div>

                    <div class="post__option">
                      <span class="material-icons"> chat_bubble_outline </span>
                      <p>Comment</p>
                    </div>

                    <div class="post__option">
                      <span class="material-icons"> near_me </span>
                      <p>Share</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- post ends -->
            </ng-template>
          </div>

          <!-- post starts demo post -->
          <div class="post" *ngIf="postInfoOfUser.length==0">

            <div class="post__image">
              <img src="../../../assets/images/no_post_found.jpg" alt="" />
            </div>
          </div>
          <!-- post ends -->
        </div>

        <div *ngIf="this.button==2">
          <H3>Friends</H3>
          <div *ngFor="let friend of friendListOfThisPerson">

            <div class="card">
              <table style="width: 100%;">
                <tr>
                  <td rowspan="1" style="width: 20%;">
                    <img src="{{friend?.profilePicture}}" style="width: 100%;">
                  </td>
                  <td>
                    <H2 style="cursor: pointer;" >{{friend.name}}</H2>
                    <button
                      style="width: 100%; background-color: turquoise; border: none; border-radius: 10px; color: #333; /* Dark grey */ padding: 15px 32px; cursor: pointer;"
                      >Profile</button>
                  </td>
                </tr>
                <tr>

                </tr>
              </table>
            </div>

            <div class="make_some_space"> </div>

          </div>
        </div>

      </div>



    </div>
  </div>

</main>