.card {
  width: 40%;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  background-color: white;
  margin: auto;
}
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

img {
  border-radius: 50%;
}

h3{
  text-align: center;
}

.make_some_space{
  height: 5px;
  width: 5px;
}
h2{
  margin-left: 20px;
}

button{
  text-decoration: none;
  padding-left: 20px;
}